body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#image-container {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Use min-height to ensure it covers at least the viewport height */
  background-image: url('images/background.jpg');
  background-size: 100% auto; /* Cover the width fully, adjust height automatically */
  background-position: center center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
}

.quadrant {
  width: 50%;
  height: 50%;
  cursor: pointer;
}

#enlarged-image {
  display: none; /* Initially hidden */
  position: fixed; /* Use fixed to ensure it's placed relative to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%; /* Maximum of 80% of the viewport width */
  max-height: 80%; /* Maximum of 80% of the viewport height */
  object-fit: contain; /* Ensure the image is fully visible and maintains aspect ratio */
  z-index: 10; /* Ensure it's above other elements */
  cursor: pointer; /* Indicate clickable */
}
